### INSTALLING THE PYTHON MODULE FOR TWITTER SCRAPING(SNSCRAPE)

In [1]:
!pip install snscrape

Requirement already satisfied: snscrape in c:\users\dell\anaconda3\lib\site-packages (0.4.3.20220106)
Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (4.6.3)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (4.10.0)
Requirement already satisfied: requests[socks] in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (2.26.0)
Requirement already satisfied: filelock in c:\users\dell\anaconda3\lib\site-packages (from snscrape) (3.3.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->snscrape) (2.2.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from requests[socks]->snscrape) (1.7.1)

### IMPORTING THE NECESSARY LIBRARIES TO CARRYOUT THIS TASK

In [2]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

#### COLLECTION OF THE TWEET HASHTAG OR USERNAME,DATE PERIOD,NUMBER OF DATA,DESIRED COLUMNS AND SAVING THE SCRAPED DATA AS A .CSV_FILE

In [10]:
query = "(#TxESummitEnugu OR #TxESummit2022 OR #TechInspired OR #enugutechsummit OR TxESummit) until:2022-09-30 since:2022-08-11"
tweets = []
limit = 30000


for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount,  tweet.quoteCount, tweet.replyCount])
        
df = pd.DataFrame(tweets, columns=['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])

df.to_csv('TxESummitEnu.csv')

# OBSERVE THE TWEET SCRAPED RESULT WITH PANDAS DATA_FRAME

In [11]:
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-09-29 22:02:17+00:00,https://twitter.com/is_ugee/status/15756069176...,is_ugee,Twitter for Android,"Abakaliki, Nigeria",Thank you so much @enugutechsummit and @willia...,17,5,0,11
1,2022-09-29 21:34:39+00:00,https://twitter.com/enugutechsummit/status/157...,enugutechsummit,Twitter for Android,"Enugu, Nigeria","""CONGRATULATIONS"" üçæ üéâ you just won a brand new...",71,9,2,24
2,2022-09-29 21:26:18+00:00,https://twitter.com/phavor_n/status/1575597862...,phavor_n,Twitter for Android,,#TxESummit #enugutechsummit2022 https://t.co/N...,0,0,0,0
3,2022-09-29 20:48:17+00:00,https://twitter.com/nwafili_/status/1575588298...,nwafili_,Twitter for Android,Nigeria,TxE summit @enugutechsummit was a huge success...,8,1,0,3
4,2022-09-29 20:18:43+00:00,https://twitter.com/Gwbillionz/status/15755808...,Gwbillionz,Twitter for Android,Nigeria,This event brought out my inner most best what...,2,0,0,1

### TWEET DESCRIPTION USING PANDAS DATA_FRAME

In [12]:
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count  1149.000000    1149.000000  1149.000000  1149.000000
mean      6.625762       1.560487     0.125326     0.952132
std      28.366858      12.128344     0.787508     5.974566
min       0.000000       0.000000     0.000000     0.000000
25%       0.000000       0.000000     0.000000     0.000000
50%       1.000000       0.000000     0.000000     0.000000
75%       3.000000       0.000000     0.000000     0.000000
max     449.000000     269.000000    18.000000   100.000000

In [9]:
from matplotlib import pyplot as plt
import seaborn as Sbs